body {font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;}
#top-links, #top-links a, #langs-curr, #langs-curr a {color: inherit;}

#header-cart {background:#fff; border:1px solid #ddd;}
#header-cart h4 {color:inherit;}
#header-cart table strong {color: inherit;}

#menu {background:#2d8fa1;}
#menu li {background:none;}
#header-in {background-color:#fff;}

#main-wrapper-in {
  background: url('https://cdn.rawgit.com/PremiovaVyziva/web/master/bg.jpg');
  background-size: cover;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #000;
}
