body {font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;}
#top-links, #top-links a, #langs-curr, #langs-curr a {color: inherit;}

#header-cart {background:#fff; border:1px solid #ddd;}
#header-cart h4 {color:inherit;}
#header-cart table strong {color: inherit;}

#menu {background:#2ab0db;}
#menu li {background:none;}
#header-in {background-color:#fff;}

#main-wrapper-in {
  background: #000 url("https://cdn.rawgit.com/PremiovaVyziva/web/master/bg.jpg") top center no-repeat;
  background-size: 100%;
}

/* Breadcrumb */
#navigation-first a {text-decoration:none;}

/* categories */
#categories { font-size: 14px;}
.cat-01 .topic {background: #fff;}
.categories .topic { padding: 8px; font-size: 15px; text-align: center}
.cat-01 a { background: none; }
.categories a { width:auto; padding:6px 8px;}
.categories li { border-bottom: 1px solid #ababab; }
.categories li:last-of-type {border:none;}
.categories ul {margin:0px;}
